@import url(/assets/css/root.css);
@import url(/assets/css/style.css);

/* button */
.button3 {
    border-radius: 24px;
    border: 1px solid #000;
}

.button4 {
    border-radius: 24px;
    border: 1px solid #FFF;
}
.button5{
    background: none !important;
    border-radius: none;
}

/* padding */
.padding2 {
    padding: 10px 21px;
}

.padding3 {
    padding: 10px 20px;
}
.padding4{
    padding: 1px 11px;
}
.py-75{
    padding-top: 75px;
    padding-bottom: 75px;
}
.py-31{
    padding-top: 31px;
    padding-bottom: 31px;
}
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.pl-31{
    padding-left: 31px;
}
.pr-54{
    padding-right: 54px;
}
/* other */
.rectangle-elipse {
    max-width: 633.226px;
    position: absolute;
    /* top: 0; */
    right: 0;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(240, 135, 255, 0.30);
    filter: blur(250px);
    height: 100%;
}
.sec-box{
    border-radius: 16px;
background: #9945FF;
border: none;
}

/* background image */

.sec-bg-img{
    background-image: url(../images/background-img.png);
    background-repeat: no-repeat;
}
.bg-img1{
    background-image: url(../images/bg-img1.png);
    background-repeat: no-repeat;
    height: 320px;
    border-radius: 18px;
}
.f-absolute{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 10px;
}
.bg-img2{
    background-image: url(../images/bg-img2.png);
    background-repeat: no-repeat;
    height: 320px;
    border-radius: 18px;
}
.bg-img3{
    background-image: url(../images/bg-img3.png);
    background-repeat: no-repeat;
    height: 320px;
    border-radius: 18px;
}
.bg-img4{
    background-image: url(../images/bg-img4.png);
    background-repeat: no-repeat;
    height: 320px;
    border-radius: 18px;
}
.bg-img5{
    background-image: url(../images/bg-img5.png);
    background-repeat: no-repeat;
    height: 320px;
    border-radius: 18px;
}
.bg-img6{
    background-image: url(../images/bg-img6.png);
    background-repeat: no-repeat;
    height: 320px;
    border-radius: 18px;
}

/* max-width */
.mw-390{
    max-width: 390px;
}
.mw-387{
    max-width: 387px;
}

/* card */
.card-1{
    border-radius: 12px;
background: #19161C;
max-width: 346.203px;
height: 282px;
}
.content2{
    padding: 31px 31px;
}





/* ellipse */
.elipse-5{
    width: 259px;
height: 31px;
border-radius: 259px;
background: #A962FF;
filter: blur(40px);
bottom: 0;
left: 10%;
opacity: 0;
transition: all 300ms linear;
visibility: hidden;
}
.card-1:hover .elipse-5{
    opacity: 1;
    visibility: visible;
}